.ad {
  width: 90%;
  margin: 0 auto;

  display: flex;
  align-items: center;

  margin-bottom: 40px;
  padding: 10px;

  border: 1px solid var(--red);
  border-radius: 10px;
}

.ad-box__wrap {
  margin: 0 auto;
}

.ad-box {
  display: flex;
  align-items: center;
}

.ad img {
  width: 70px;
  margin-right: 20px;
}

.chat-component {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 20px;
}

.chat-component__avatar {
  margin-right: 20px;

  width: 50px;
  height: 50px;

  border: 1px solid var(--red);
  border-radius: 20px;
}

.chat-box {
  width: 85%;

  display: flex;
  align-items: center;
}

.chat-component__wrap {
  margin-right: 20px;
}

.chat-component__column-info {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.chat-component__column-info i {
  font-size: 10px;
  color: var(--gray);
}

.chat-component__column-name {
  margin-right: 10px;
  margin-bottom: 5px;
}

.chat-component__column-text,
.chat-date {
  font-size: 8px;
}

.chat-date {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
