header {
  display: flex;
  justify-content: space-between;

  margin: 35px 0;
  padding: 0 20px;
}

.header__title {
  font-size: 30px;
  font-weight: 600;
}

.header__ul {
  display: flex;
  align-items: center;
}

.header__ul .header__li {
  margin-left: 20px;

  position: relative;
}

.alram-dot {
  display: block;
  width: 8px;
  height: 8px;
  background-color: tomato;

  position: absolute;
  top: -6px;
}

/* Friends Display */
.friedns-display {
  background-color: #fafafa;

  padding: 20px 0;
  text-align: center;
  font-size: 18px;
  color: gray;
}
