.friends-header {
  display: flex;
  justify-content: space-between;

  margin: 35px 0;
  padding: 0 20px;
}

.header__title {
  font-size: 30px;
  font-weight: 600;
}

.header__ul {
  display: flex;
  align-items: center;
}

.header__li {
  margin-left: 20px;

  position: relative;
}

.friedns-display {
  padding: 20px 0;

  text-align: center;
  font-size: 18px;
  color: var(--orange);
}

.user {
  display: flex;
  align-items: center;
}

.user__avatar {
  margin-right: 20px;

  width: 80px;
  height: 80px;
  border-radius: 30px;
  border: 1px solid var(--red);
}

.user__name {
  font-size: 24px;
  font-weight: 600;
}

.channel-line {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 20px 0;

  border-top: 1px solid var(--red);
  color: var(--gray);
}

.channel-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.channel-component__column {
  display: flex;
  align-items: center;
}

.channel-component__avatar {
  margin-right: 20px;

  width: 50px;
  height: 50px;
  border-radius: 20px;
  border: 1px solid var(--red);
}

.channel-component__name {
  font-size: 18px;
}

.channel-component__song {
  padding: 8px;
  border: 1px solid red;
  border-radius: 15px;

  font-size: 10px;
  font-weight: 600;
}

.channel-component__btn {
  padding-left: 10px;
  color: var(--red);
}
