.welcom-header {
  flex-direction: column;

  padding: 100px 0;
  text-align: center;

  color: var(--red);
}

.welcom-header h1 {
  margin-bottom: 25px;

  font-size: 25px;
  font-weight: 600;
}

.welcom-header p {
  color: var(--white);
  line-height: 1.5;
}

.login-form {
  width: 95%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  text-align: center;
}

.login-form input,
.login-form button {
  padding: 20px 0;
}

.login-form input {
  margin-top: 20px;

  border: none;
  border-bottom: 1px solid black;
  background-color: black;
  font-size: 16px;

  transition: border-color 1s ease-in-out;
}

.login-form input::placeholder {
  color: var(--white);
}
.login-form input::-webkit-input-placeholder {
  color: var(--white);
}
.login-form input:-ms-input-placeholder {
  color: var(--white);
}

.login-form input:focus {
  border-color: var(--red);
}

.login-form button {
  margin: 40px 0;

  border: none;
  border-radius: 8px;

  font-weight: 600;
  font-size: 16px;
}

.login-form button:hover {
  background-color: var(--red);
}

.login-form a {
  font-size: 10px;
}
