nav {
  position: fixed;
  bottom: 0;

  box-sizing: border-box;

  width: 100%;
  padding: 20px 50px;
  background-color: black;
  border-top: 1px solid var(--red);
}

.nav--list {
  display: flex;
  justify-content: space-between;
}

.nav--list__li {
  position: relative;
}

.nav__alram {
  display: flex;
  position: absolute;

  background-color: var(--red);
}
