nav {
  position: fixed;
  bottom: 0;

  box-sizing: border-box;

  width: 100%;
  padding: 20px 50px;
  background-color: black;
  border-top: 1px solid var(--red);
}

.nav--list {
  display: flex;
  justify-content: space-between;
}

.nav--list__li {
  position: relative;
}

.nav__alram {
  display: flex;
  position: absolute;

  background-color: var(--red);
}

.alram-badge {
  justify-content: center;
  align-items: center;

  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 6px;

  top: -10px;
  right: -10px;
}

.alram-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;

  top: -2px;
  right: -10px;
}
